#### Packages

In [243]:
import pandas as pd
import numpy as np

#### Input

In [244]:
df_SIN = pd.read_csv("data_CNCF_SIN.csv")
df_TWN = pd.read_csv("data_CNCF_TWN.csv")

### 資料處理

In [245]:
y_values = [110, 120, 130, 140, 150, 160, 170, 180, 190]
immediate_x_values = [1, 2, 4, 8]
delayed_x_values = [5, 6, 8, 12]

#### SIN

In [246]:
# Initialize an empty DataFrame to store the transformed data
transformed_data = {}

# Iterate over each row to transform the data as specified
for index, row in df_TWN.iterrows():
    participant_id = row['Participant']
    a = row['a']
    b = row['b']
    c = row['c']  # Value of 'a + b' which is also equal to 'c' as given
    d = row['d']
    
    # Determine the timeframe type and construct column names based on conditions
    if b == 0 and a in [1, 2, 4, 8]:
        # Immediate timeframe
        for y in y_values:
            col_name = f"immediate_week{c}_{y}"
            # Check the value of 'd' against the tens digit of 'y'
            if d < ((y-100) // 10):
                value = "now"
            else:
                value = "future"
            
            # Add or update the entry in the transformed_data dictionary
            transformed_data.setdefault(participant_id, {})[col_name] = value
    
    elif b == 4 and a in [1, 2, 4, 8]:
        # Delayed timeframe
        for y in y_values:
            col_name = f"delayed_week{c}_{y}"
            # Check the value of 'd' against the tens digit of 'y'
            if d < ((y-100) // 10):
                value = "now"
            else:
                value = "future"
            
            # Add or update the entry in the transformed_data dictionary
            transformed_data.setdefault(participant_id, {})[col_name] = value

In [247]:
# Convert the transformed data dictionary into a DataFrame
transformed_SIN = pd.DataFrame.from_dict(transformed_data, orient='index').reset_index()
transformed_SIN.rename(columns={'index': 'ID'}, inplace=True)

##### 欄位順序

In [248]:
# Generate ordered columns
ordered_columns = ['ID']  # Start with 'ID' column
# Add immediate and delayed columns in the specified order
for timeframe in ["immediate", "delayed"]:
    x_values = immediate_x_values if timeframe == "immediate" else delayed_x_values
    for x in x_values:
        for y in y_values:
            ordered_columns.append(f"{timeframe}_week{x}_{y}")

# Reindex the DataFrame with the ordered columns (filling missing columns with NaN if necessary)
transformed_SIN = transformed_SIN.reindex(columns=ordered_columns)

##### 問卷欄位

In [249]:
transformed_SIN = transformed_SIN.merge(
    df_SIN[['participant', 'treatment', 'gender', 'race', 'econ', 'course', 'immi', 'identity', 'r1', 'l1', 'pro1', 'pro2', 'often1', 'often2']],
    left_on='ID', right_on='participant', how='left'
)

# Set the values for each column based on the merged columns
transformed_SIN['treatment'] = transformed_SIN['treatment'].apply(lambda x: "will" if x == "CF" else "no will")
transformed_SIN['race'] = transformed_SIN['race'].str.rstrip(';')
transformed_SIN['major'] = transformed_SIN['econ'].apply(lambda x: "Econ" if x == "Yes" else "Business")
transformed_SIN['year'] = transformed_SIN['course']
transformed_SIN['immigration_status'] = transformed_SIN['immi']
transformed_SIN['identity'] = transformed_SIN.apply(lambda row: row['r1'] if row['identity'] == "Others" else row['identity'], axis=1)
transformed_SIN['language'] = transformed_SIN['l1']
transformed_SIN['pro_in_English'] = transformed_SIN['pro1']
transformed_SIN['pro_in_Mandarin'] = transformed_SIN['pro2']
transformed_SIN['often_use_English'] = transformed_SIN['often1']
transformed_SIN['often_use_Mandarin'] = transformed_SIN['often2']

# Drop the redundant columns used for merging
transformed_SIN = transformed_SIN.drop(columns=['participant', 'econ', 'course', 'immi', 'r1', 'l1', 'pro1', 'pro2', 'often1', 'often2'])
transformed_SIN = transformed_SIN.drop_duplicates()

##### Output

In [250]:
print(transformed_SIN.info())

<class 'pandas.core.frame.DataFrame'>
Index: 155 entries, 0 to 1232
Data columns (total 85 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   155 non-null    int64
 1   immediate_week1_110  155 non-null    object
 2   immediate_week1_120  155 non-null    object
 3   immediate_week1_130  155 non-null    object
 4   immediate_week1_140  155 non-null    object
 5   immediate_week1_150  155 non-null    object
 6   immediate_week1_160  155 non-null    object
 7   immediate_week1_170  155 non-null    object
 8   immediate_week1_180  155 non-null    object
 9   immediate_week1_190  155 non-null    object
 10  immediate_week2_110  155 non-null    object
 11  immediate_week2_120  155 non-null    object
 12  immediate_week2_130  155 non-null    object
 13  immediate_week2_140  155 non-null    object
 14  immediate_week2_150  155 non-null    object
 15  immediate_week2_160  155 non-null    object
 16  immediate_week2_170  155 non-null    object
 17  immediate_week2_180  155 non-null    object
 18  immediate_week2_190  155 non-null    object
 19  immediate_week4_110  155 non-null    object
 20  immediate_week4_120  155 non-null    object
 21  immediate_week4_130  155 non-null    object
 22  immediate_week4_140  155 non-null    object
 23  immediate_week4_150  155 non-null    object
 24  immediate_week4_160  155 non-null    object
 25  immediate_week4_170  155 non-null    object
 26  immediate_week4_180  155 non-null    object
 27  immediate_week4_190  155 non-null    object
 28  immediate_week8_110  155 non-null    object
 29  immediate_week8_120  155 non-null    object
 30  immediate_week8_130  155 non-null    object
 31  immediate_week8_140  155 non-null    object
 32  immediate_week8_150  155 non-null    object
 33  immediate_week8_160  155 non-null    object
 34  immediate_week8_170  155 non-null    object
 35  immediate_week8_180  155 non-null    object
 36  immediate_week8_190  155 non-null    object
 37  delayed_week5_110    155 non-null    object
 38  delayed_week5_120    155 non-null    object
 39  delayed_week5_130    155 non-null    object
 40  delayed_week5_140    155 non-null    object
 41  delayed_week5_150    155 non-null    object
 42  delayed_week5_160    155 non-null    object
 43  delayed_week5_170    155 non-null    object
 44  delayed_week5_180    155 non-null    object
 45  delayed_week5_190    155 non-null    object
 46  delayed_week6_110    155 non-null    object
 47  delayed_week6_120    155 non-null    object
 48  delayed_week6_130    155 non-null    object
 49  delayed_week6_140    155 non-null    object
 50  delayed_week6_150    155 non-null    object
 51  delayed_week6_160    155 non-null    object
 52  delayed_week6_170    155 non-null    object
 53  delayed_week6_180    155 non-null    object
 54  delayed_week6_190    155 non-null    object
 55  delayed_week8_110    155 non-null    object
 56  delayed_week8_120    155 non-null    object
 57  delayed_week8_130    155 non-null    object
 58  delayed_week8_140    155 non-null    object
 59  delayed_week8_150    155 non-null    object
 60  delayed_week8_160    155 non-null    object
 61  delayed_week8_170    155 non-null    object
 62  delayed_week8_180    155 non-null    object
 63  delayed_week8_190    155 non-null    object
 64  delayed_week12_110   155 non-null    object
 65  delayed_week12_120   155 non-null    object
 66  delayed_week12_130   155 non-null    object
 67  delayed_week12_140   155 non-null    object
 68  delayed_week12_150   155 non-null    object
 69  delayed_week12_160   155 non-null    object
 70  delayed_week12_170   155 non-null    object
 71  delayed_week12_180   155 non-null    object
 72  delayed_week12_190   155 non-null    object
 73  treatment            155 non-null    object
 74  gender               155 non-null    object
 75  race                 155 non-null    object
 76  identity             132 non-null    object
 77  major                155 non-null    object
 78  year                 155 non-null    int64
 79  immigration_status   132 non-null    object
 80  language             132 non-null    object
 81  pro_in_English       132 non-null    float64
 82  pro_in_Mandarin      132 non-null    float64
 83  often_use_English    132 non-null    float64
 84  often_use_Mandarin   132 non-null    float64
dtypes: float64(4), int64(2), object(79)
memory usage: 104.1+ KB
None

In [251]:
transformed_SIN.to_excel("LSH_SIN.xlsx", index=False)

#### TWN

In [252]:
# Initialize an empty DataFrame to store the transformed data
transformed_data = {}

# Iterate over each row to transform the data as specified
for index, row in df_TWN.iterrows():
    participant_id = row['Participant']
    a = row['a']
    b = row['b']
    c = row['c']  # Value of 'a + b' which is also equal to 'c' as given
    d = row['d']
    
    # Determine the timeframe type and construct column names based on conditions
    if b == 0 and a in [1, 2, 4, 8]:
        # Immediate timeframe
        for y in y_values:
            col_name = f"immediate_week{c}_{y}"
            # Check the value of 'd' against the tens digit of 'y'
            if d < ((y-100) // 10):
                value = "now"
            else:
                value = "future"
            
            # Add or update the entry in the transformed_data dictionary
            transformed_data.setdefault(participant_id, {})[col_name] = value
    
    elif b == 4 and a in [1, 2, 4, 8]:
        # Delayed timeframe
        for y in y_values:
            col_name = f"delayed_week{c}_{y}"
            # Check the value of 'd' against the tens digit of 'y'
            if d < ((y-100) // 10):
                value = "now"
            else:
                value = "future"
            
            # Add or update the entry in the transformed_data dictionary
            transformed_data.setdefault(participant_id, {})[col_name] = value

In [253]:
# Convert the transformed data dictionary into a DataFrame
transformed_TWN = pd.DataFrame.from_dict(transformed_data, orient='index').reset_index()
transformed_TWN.rename(columns={'index': 'ID'}, inplace=True)

In [254]:
# Generate ordered columns
ordered_columns = ['ID']  # Start with 'ID' column
# Add immediate and delayed columns in the specified order
for timeframe in ["immediate", "delayed"]:
    x_values = immediate_x_values if timeframe == "immediate" else delayed_x_values
    for x in x_values:
        for y in y_values:
            ordered_columns.append(f"{timeframe}_week{x}_{y}")

# Reindex the DataFrame with the ordered columns (filling missing columns with NaN if necessary)
transformed_TWN = transformed_TWN.reindex(columns=ordered_columns)

In [255]:
transformed_TWN = transformed_TWN.merge(
    df_TWN[['Participant', 'Treatment', 'Gender', 'Taiwan', 'Econ', 'Course', 'laugnauge', 'otherLanguage', 'WhichLanguage', 'EngCountry', 'WhichCountry']],
    left_on='ID', right_on='Participant', how='left'
)

# Set the values for each column based on the merged columns
transformed_TWN['treatment'] = transformed_TWN['Treatment'].apply(lambda x: "will" if x == "CF" else "no will")
transformed_TWN['gender'] = transformed_TWN['Gender']
transformed_TWN['race'] = transformed_TWN['Taiwan']
transformed_TWN['major'] = transformed_TWN['Econ'].apply(lambda x: "Econ" if x == "是" else "Others")
transformed_TWN['year'] = transformed_TWN['Course']
transformed_TWN['language'] = transformed_TWN.apply(lambda row: "中文" if row['otherLanguage'] == "否" else row['WhichLanguage'], axis=1)
transformed_TWN['english_speaking_country'] = transformed_TWN.apply(lambda row: row['EngCountry'] if row['EngCountry'] == "否" else row['WhichCountry'], axis=1)

# Drop the redundant columns used for merging
transformed_TWN = transformed_TWN.drop(columns=['Participant', 'Treatment', 'Gender', 'Taiwan', 'Econ', 'Course', 'laugnauge', 'otherLanguage', 'WhichLanguage', 'EngCountry', 'WhichCountry'])
transformed_TWN = transformed_TWN.drop_duplicates()

In [256]:
print(transformed_TWN.info())

<class 'pandas.core.frame.DataFrame'>
Index: 155 entries, 0 to 1232
Data columns (total 80 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   ID                        155 non-null    int64
 1   immediate_week1_110       155 non-null    object
 2   immediate_week1_120       155 non-null    object
 3   immediate_week1_130       155 non-null    object
 4   immediate_week1_140       155 non-null    object
 5   immediate_week1_150       155 non-null    object
 6   immediate_week1_160       155 non-null    object
 7   immediate_week1_170       155 non-null    object
 8   immediate_week1_180       155 non-null    object
 9   immediate_week1_190       155 non-null    object
 10  immediate_week2_110       155 non-null    object
 11  immediate_week2_120       155 non-null    object
 12  immediate_week2_130       155 non-null    object
 13  immediate_week2_140       155 non-null    object
 14  immediate_week2_150       155 non-null    object
 15  immediate_week2_160       155 non-null    object
 16  immediate_week2_170       155 non-null    object
 17  immediate_week2_180       155 non-null    object
 18  immediate_week2_190       155 non-null    object
 19  immediate_week4_110       155 non-null    object
 20  immediate_week4_120       155 non-null    object
 21  immediate_week4_130       155 non-null    object
 22  immediate_week4_140       155 non-null    object
 23  immediate_week4_150       155 non-null    object
 24  immediate_week4_160       155 non-null    object
 25  immediate_week4_170       155 non-null    object
 26  immediate_week4_180       155 non-null    object
 27  immediate_week4_190       155 non-null    object
 28  immediate_week8_110       155 non-null    object
 29  immediate_week8_120       155 non-null    object
 30  immediate_week8_130       155 non-null    object
 31  immediate_week8_140       155 non-null    object
 32  immediate_week8_150       155 non-null    object
 33  immediate_week8_160       155 non-null    object
 34  immediate_week8_170       155 non-null    object
 35  immediate_week8_180       155 non-null    object
 36  immediate_week8_190       155 non-null    object
 37  delayed_week5_110         155 non-null    object
 38  delayed_week5_120         155 non-null    object
 39  delayed_week5_130         155 non-null    object
 40  delayed_week5_140         155 non-null    object
 41  delayed_week5_150         155 non-null    object
 42  delayed_week5_160         155 non-null    object
 43  delayed_week5_170         155 non-null    object
 44  delayed_week5_180         155 non-null    object
 45  delayed_week5_190         155 non-null    object
 46  delayed_week6_110         155 non-null    object
 47  delayed_week6_120         155 non-null    object
 48  delayed_week6_130         155 non-null    object
 49  delayed_week6_140         155 non-null    object
 50  delayed_week6_150         155 non-null    object
 51  delayed_week6_160         155 non-null    object
 52  delayed_week6_170         155 non-null    object
 53  delayed_week6_180         155 non-null    object
 54  delayed_week6_190         155 non-null    object
 55  delayed_week8_110         155 non-null    object
 56  delayed_week8_120         155 non-null    object
 57  delayed_week8_130         155 non-null    object
 58  delayed_week8_140         155 non-null    object
 59  delayed_week8_150         155 non-null    object
 60  delayed_week8_160         155 non-null    object
 61  delayed_week8_170         155 non-null    object
 62  delayed_week8_180         155 non-null    object
 63  delayed_week8_190         155 non-null    object
 64  delayed_week12_110        155 non-null    object
 65  delayed_week12_120        155 non-null    object
 66  delayed_week12_130        155 non-null    object
 67  delayed_week12_140        155 non-null    object
 68  delayed_week12_150        155 non-null    object
 69  delayed_week12_160        155 non-null    object
 70  delayed_week12_170        155 non-null    object
 71  delayed_week12_180        155 non-null    object
 72  delayed_week12_190        155 non-null    object
 73  treatment                 155 non-null    object
 74  gender                    155 non-null    object
 75  race                      155 non-null    object
 76  major                     155 non-null    object
 77  year                      155 non-null    object
 78  language                  153 non-null    object
 79  english_speaking_country  155 non-null    object
dtypes: int64(1), object(79)
memory usage: 98.1+ KB
None

In [257]:
transformed_TWN.to_excel("LSH_TWN.xlsx", index=False)

In [258]:
df_TWN.head()

,Unnamed: 0,Treatment,Location,SessionID,FutureTense,Mandarin,ID,Participant,Period,a,...,Econmajor,laugnauge,otherLanguage,WhichLanguage,EngCountry,WhichCountry,Purpose,AE,AF,chineseismainlanguage0english1ma
0,0,CN,0,160517_1320,0,1,1,1,8,8,...,1,中文,否,NaN,否,NaN,NaN,NaN,NaN,1.0
1,1,CN,0,160517_1320,0,1,1,1,7,4,...,1,中文,否,NaN,否,NaN,NaN,NaN,NaN,1.0
2,2,CN,0,160517_1320,0,1,1,1,6,1,...,1,中文,否,NaN,否,NaN,NaN,NaN,NaN,1.0
3,3,CN,0,160517_1320,0,1,1,1,5,4,...,1,中文,否,NaN,否,NaN,NaN,NaN,NaN,1.0
4,4,CN,0,160517_1320,0,1,1,1,4,8,...,1,中文,否,NaN,否,NaN,NaN,NaN,NaN,1.0